{% extends 'base.html' %}

{% load static %}

{% block title %} Novo Chat {% endblock %}

{% block content %}
<main class="container">

    <div style="text-align: center; margin-top: 10%;">
        <h1 class="login_title">Novo Chat</h1>
    
        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ form.sender.auto_id }}" class="form-label">{{ form.sender.label }}</label>
                {{ form.sender }}
                <div id="{{ form.sender.auto_id }}" class="form-text">{{ form.sender.errors }}</div>
            </div>

            <div class="mb-3">
                <label for="{{ form.recipient.auto_id }}" class="form-label">{{ form.recipient.label }}</label>
                {{ form.recipient }}
                <div id="{{ form.recipient.auto_id }}" class="form-text">{{ form.recipient.errors }}</div>
            </div>

            <div class="mb-3">
                <label for="{{ form.subject.auto_id }}" class="form-label">{{ form.subject.label }}</label>
                {{ form.subject }}
                <div id="{{ form.subject.auto_id }}" class="form-text">{{ form.subject.errors }}</div>
            </div>

            <div class="mb-3">
                {{ form.message }}
                <br><label for="{{ form.message.auto_id }}">{{ form.message.label }}</label>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>

</main>
{% endblock %}