{% extends 'base.html' %}

{% block content %}
    <main class="login">

        <div class="signup_container">

            <h1 class="login_title">Cadastro</h1>

            <form class="login_form" action="" method="POST">

                <input class="login_input" type="text" name="First_name" id="First_name" placeholder="Primeiro nome" required>
                <span class="login_input_border"></span>

                <input class="login_input" type="text" name="Last_name" id="Last_name" placeholder="Ultimo nome" required>
                <span class="login_input_border"></span>

                <input class="login_input" type="text" name="Username" id="Username" placeholder="Username" required>
                <span class="login_input_border"></span>

                <input class="login_input" type="email" name="Email" id="Email" placeholder="E-mail" required>
                <span class="login_input_border"></span>

                <input class="login_input" type="tel" name="Phone" id="Phone" placeholder="(99) 9 9999-9999" required>
                <span class="login_input_border"></span>

                <input class="login_input" type="password" name="Password" id="Password" placeholder="Senha" required>
                <span class="login_input_border"></span>

                <input class="login_input" type="password" name="Password_conf" id="Password_conf" placeholder="Confirme sua senha" required>
                <span class="login_input_border"></span>

                <button class="login_submit" type="submit" name="Submit">Cadastrar</button>           
                
            </form>

            <a href="{% url 'login' %}" class="signup">Já possui uma conta? Login</a>

        </div>

    </main>
{% endblock %}