{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Icons Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <!-- INICIO DA NAVBAR -->
    <nav>
        {% block navbar %} {% endblock %}
    </nav>
    <!-- FIM DA NAVBAR -->

    <!-- INICIO DO HEADER -->
    <header>
        {% block header %} {% endblock %}
    </header>
    <!-- FIM DO HEADER -->

    <!-- INICIO DO MAIN -->
    <main>

        {% block content %}
        <h1>Conteudo principal !</h1>
        {% endblock %}

    </main>
    <!-- FIM DO MAIN -->

    <footer>
        {% block footer %} {% endblock %}
    </footer>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>